body{
	font-family: "Robo";
}

@font-face {
	font-family: "Robo";
	src: url('../font/RobotoMono-Regular.ttf');
}

.profile-picture {
	width: 200px;
	height: 200px;
	border-radius: 250%;
	overflow:hidden;
	border: 1px solid white;
	margin: auto;
}

.profile-content {
	font-family: 'Robo';
	font-size: 16px;
	width: 60%;
	margin: auto;
	height: 90vh;

}

#header {
	height: 6vh;
	padding: 5px;
	margin: 0 auto;
	width: 100%;
	border-bottom: 1px solid #eee;
}

#footer {
	position: fixed;
	font-size: 16px;
	bottom: 0px;
	text-align: center;
	height: 50px;
	border: 1px solid blue;
	margin-left: 0px;
	width: 100%;
}

#footer ul li{
	display: inline-block;
	text-decoration: none;
	list-style: none;
	padding: 0px;
}

#footer a{
	text-decoration: none;
}

.container-full{
	width: 100%;
	margin: 0 auto;
	padding-left: 0x;
}

.wrapper {
	display: table;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.content {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.name-tag {
}

.name-tag:hover {
	cursor: pointer;
}


.hover-row {
	border: 1px solid white;
}
.hover-row:hover {
	border-bottom: 1px dashed #eee;
	cursor: pointer;
	color: #a8a8a8;
};