body{
	background-color: #304575;
	margin:0px;
}

.outer{
	display:table;
	position:absolute;
	height:100%;
	width:100%;
}

.middle{
	display:table-cell;
	vertical-align: top;
	text-align: center;
}

.content{
	padding-top:5px;
}

h{
	font-family: 'Open Sans';
	font-size:2.0em;
}